<settings>
  <mirrors>
        <mirror>
            <id>mirror-all</id>
            <mirrorOf>*,!alipay_dev</mirrorOf>
            <name>alipay mirror</name>
            <url>http://mvn.test.alipay.net/artifactory/content/groups/public/</url>
        </mirror>
  </mirrors>
  <profiles>
                <profile>
                        <id>dev</id>
                        <activation>
                                <activeByDefault>true</activeByDefault>
                        </activation>
                        <repositories>
                                <repository>
                                        <id>alipay_test</id>
                                        <url>http://mvn.test.alipay.net/artifactory/content/groups/public/</url>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </repository>
                                <repository>
                                        <id>alipay_dev</id>
                                        <url>http://mvn.dev.alipay.net/artifactory/content/groups/public/</url>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </repository>
                        </repositories>
                        <pluginRepositories>
                                <pluginRepository>
                                        <id>alipay_test</id>
                                        <url>http://mvn.test.alipay.net/artifactory/content/groups/public/</url>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </pluginRepository>
                                <pluginRepository>
                                        <id>alipay_dev</id>
                                        <url>http://mvn.dev.alipay.net/artifactory/content/groups/public/</url>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </pluginRepository>
                        </pluginRepositories>
                </profile>
  </profiles>
</settings>
